<h2>
   Edit
</h2>
<form method="post" action="./{{viewData.id}}/update">
  <input type="hidden" name="id" value="{{viewData.id}}" />
  <div>
    <textarea  name="title"  placeholder="issue" autofocus="autofocus" required="required" >{{viewData.title}}</textarea>
  </div>
  <button type="submit">Update issue</button>
</form>
