<h1>
  Real-time web application
</h1>

<table>
    <tbody id="issue-list">
        {{#if viewData}}
        {{#each viewData}}
        <tr>
            <td><p>{{this.title}}</p></td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>


<template id="issue-template">   
    <td><p>\{{this.title}}</p></td>
</template>


    
