<h1>New Issue</h1>

<form method="post" action="./create">
  <div>
    <textarea class="issue-input" name="title" value="{{title}}" required="required"/></textarea>
  </div>
  <button type="submit">Create issue</button>
</form>