

<form method="post" action="./{{viewData.id}}/delete">
<input type="hidden" name="id" value="{{viewData.id}}" />
<textarea name="title"  readonly>{{viewData.title}}</textarea><br>
  <button type="submit" autofocus="autofocus">Delete issue</button>
</form>