
.issue-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.closed-issue {
  color:rgb(197, 197, 197);
}

.description {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

button {
  font-size: 15px;
  background-color: white;
  padding: 5px 10px ;
  border-radius: 7px;
  border: none;
}

.open-btn {
  border: 2px solid black;
}

.close-btn {
  background-color: white;
  border: 2px solid rgb(201, 70, 10);
  color: rgb(201, 70, 10);
}


