<header>
  <nav>
     <div class="links">
      <ul>
        <li>
          <a class="header-link" href="./">Home</a>
        </li> 
        <li>
          <a class="header-link" href="./new">New Snippet</a>
        </li>
      </ul>
    </div>
  </nav>
</header>